- model_class = Comment
%tr
  %td= comment.id
  %td= comment.text
  %td=l comment.updated_at, format: '%I:%M%t%P'
  %td
    = link_to t('.edit', default: t("helpers.links.edit")), edit_comment_path(comment), class: 'btn btn-default btn-sm', remote: true
    = link_to t('.destroy', default: t("helpers.links.destroy")), comment_path(comment), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-sm btn-danger', remote: true
